<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h3 class="titulo">Crear nuevo alumno</h3>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6  col-6">
        <div class="mb-3">
          <label for="Nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="Nombre" placeholder="Nombre">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6  col-6">
        <div class="mb-3">
          <label for="Apellidos" class="form-label">Apellidos</label>
          <input type="text" class="form-control" id="Apellidos" placeholder="Apellidos">
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4  col-6">
        <div class="mb-3">
          <label for="nacimiento" class="form-label">Fecha de nacimiento:</label>
          <input type="date" id="nacimiento" class="form-control" name="nacimiento">
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xs-8  col-6">
        <div class="mb-3">
          <label for="Curso" class="form-label">Curso</label>
          <input type="text" class="form-control" id="Curso" placeholder="Curso">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6  col-6">
        <div class="mb-3">
          <label for="TelefonoMovil" class="form-label">Telefono móvil</label>
          <input type="TelefonoMovil" class="form-control" id="Telefono móvil" placeholder="TelefonoMovil">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6  col-6">
        <div class="mb-3">
          <label for="TelefonoCasa" class="form-label">Telefono de casa</label>
          <input type="TelefonoCasa" class="form-control" id="Telefono de casa" placeholder="TelefonoCasa">
        </div>
      </div>
      <div class=" col-12">
        <div class="mb-3">
          <label for="Notas" class="form-label">Notas</label>
          <textarea class="form-control" id="Notas" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>